<!DOCTYPE html>
<html lang='es'>
  <head>
	<title>DATA</title>
	<meta charset='utf-8'>
  </head>
  <body>
    {# Este es un comentario de plantilla DJANGO #}
  	hello word data
  	<HR>
    <h2>torneo plantilla PRINCIPAL {{vacio}} demo en DJANGO : {{data}}</h2>

    <ul>
    	{% for lista in data %}
    	<li>{{lista.upper}}</li>
    	{% endfor %}
    </ul>

    <hr>
    <ul>
      {% for lista in data %}

      {% if forloop.first %}<li class="first">{% else %}<li>{% endif %}

      {{ forloop.conter }}
      {{ lista.upper }}
      </li>
      {% endfor %}
    </ul> 
   



    {% if 1 == 1%}
    <h3> 1 es igual a 1</h3>
    {% endif%}








<!--  ifequal -->
{% ifequal ide 'anb' %}
<h3>Hola ide ANB</h3>
{% endifequal %}


<!-- tiempo -->
Tiempo formateado es : {{ tiempo|date:"F j, Y" }}

<!-- formateado scape-->

texto formateado con esscape {{fuck|escape}}
{% include 'public/demo.html' %}
  </body>
</html>